.floating-logo-left {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 230px;
  max-width: 40vw;
  z-index: 9999;
  pointer-events: none;
}
.site-header {
  background: #96c9e9;
  text-align: center;
  padding: 30px 20px;
  color: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: "Angkor", sans-serif;
  font-size: 2rem;
}
.site-nav {
  position: sticky;
  top: 60px;
  background: white;
  padding: 16px;
  z-index: 998;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.nav-list a {
  text-decoration: none;
  color: #2c6db6;
  font-weight: bold;
  font-family: "Bricolage Grotesque", sans-serif;
}
nav a {
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.3s ease;
}

nav a:hover {
  background: #96c9e9;
  color: white;
}    
.menu-btn {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  font-family: "Angkor", sans-serif;
}
h2 {
  color: #4c6b67;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 80px;
  font-size: 45px;
}

h1 {
  color: #fafae8;
  -webkit-text-stroke: 2px #c2b87c;
  text-align: center;
  font-size: 70px;
  margin-top: -60px;
  font-family: "Angkor", serif;
  font-weight: 90px;
}

.rect1 {
  display: flex;
  gap: 20px;
  width: 1750px;
  padding: 20px;
  background: #96c9e9;
  border: 2px solid #96c9e9;
  border-radius: 40px;
  margin: 100px auto;
  text-align: center; 
  margin-top: -60px;
}

.rect1-text p {
  margin-left: 30px;
  font-size: 30px;
  text-align: left;
  font-family: "TASA Orbiter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.rect1-text h3 {
  font-size: 20px;
  text-align: left;
  font-family: "TASA Orbiter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-left: 30px;
}

.rect1-img {
  width: 350px; 
  height: auto;
  border-radius: 30px;
  margin-top: 15px;
  margin-left: 15px;
  aspect-ratio: 1 / 1;
}

.tourguide1Info {
  display: flex;
  justify-content: flex-start;
  margin-top: -20px;
  margin-left: -360px;
}

.rect1-text h2 {
  text-align: left;
  margin-left: -310px;
  margin-top: 150px;
}

.rect1-text h3 {
  font-size: 30px;
  color: #4c6b67;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: -290px;
  margin-top: -40px;
}

.tours1 {
  align-items: center;
  margin-top: -470px;
  margin-left: 10px;
  width: 20%;
  transition: transform 0.3s ease;
}

.tours1:hover {
  transform: scale(1.05);
}

.tours1comments {
  margin-left: 10px;
  margin-top: -500px;
  width: 32%;
}

.rect1-text .second-h2 {
  margin-left: -260px; 
  margin-top: 190px;
}

.tourguide2Info {
  display: block;
  margin-left: -350px;
  margin-top: -10px;
}

.tours2 {
  align-items: center;
  margin-top: -470px;
  margin-left: 10px;
  width: 19.5%;
  transition: transform 0.3s ease;
}

.tours2:hover {
  transform: scale(1.05);
}

.tours2comments {
  margin-left: 10px;
  margin-top: -500px;
  width: 34%;
}
